@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;;
}
.container{
      margin: 4rem auto 7rem;
      text-align: center;
}
.heading{
    color: #7c3aed;
}

.description{
    font-size: 1.5rem;
    margin: 1rem;
}
.bill{
    font-size: large;
    font-weight: 600;
}

input
{
display: block;
font-size: 14px;
outline: #fff;
padding: 0.6rem 1rem;
font-size: large;
   
text-align: center;
margin : 1rem auto;
border: 2px solid #7c3aed;
border-radius: 0.5rem;
}
#checkbtn
{
    background: #7c3aed;
    border: none;
    color: #fff;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    outline: #fff;
    margin: auto;
    display: block;
}

#error-message{
    font-size: 1.5rem;
    margin: 1rem;
   

}
.change-table{
    width: 50%;
    text-align: justify;
    border-collapse: collapse;
    margin: auto;
   border-color: blue;
   font-size: larger;
   padding: 2rem;
   /* font-weight: 500; */
}

.change-table caption{
    margin: 1rem auto;
    font-size: x-large;
    font-weight: 500;
}


.main-footer{

   background: black;
   padding: 32px;
   margin-top: 50px; 
   height: 10vh;
    
     left: 0;
     bottom: 0;
     width: 100%;
     
     color: white;
     text-align: center;
   
  }
  
  
  .main-footer__links{
   list-style: none;
   margin:0;
   padding: 0;
   text-align: center;
  }
  .main-footer__link{
  display:inline-block;
  margin: 0 16px;
  }
  
  .main-footer__link a{
  color: white;
  text-decoration: none;
  }
  
  .main-footer__link a:hover,
  .main-footer__link a:active {
  color: #ccc;
  } 